{% extends 'contas/main.html' %}

{% block content %}

	<br>

<div class="row">

	<div class="col-md">
		<div class="card card-body">
			<h5>Informação de contato</h5>
			<hr>
			<p>Email: {{cliente.email}}</p>
			<p>Telefone: {{cliente.telefone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Pedidos Totais</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{pedido_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{meuFilter.form}}
		    <button class="btn btn-primary" type="submit">Procurar</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Produto</th>
					<th>Categoria</th>
					<th>Data encomendada</th>
					<th>Status</th>
					<th>Atualizar</th>
					<th>Remover</th>
				</tr>
				{% for pd in pedido %}
				<tr>
					<td>{{pd.produto}}</td>
					<td>{{pd.produto.categoria}}</td>
					<td>{{pd.data_publicacao}}</td>
					<td>{{pd.status}}</td>
						<td><a class = "btn btn-sm btn-info" href="{% url 'atualizar_pedido' pd.id %}">Atualizar</a></td>
						<td><a class = "btn btn-sm btn-danger" href="{% url 'remover_pedido' pd.id %}">Remover</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
