<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pedidos-totais">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos totais</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_pedidos}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pedidos-entregues">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos entregues</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{entregue}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pedidos-pendentes">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos pendentes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pendente}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>